[submodule "eth2.0-spec-tests"]
	path = eth-reference-tests/src/test/resources/eth2.0-spec-tests
	url = https://github.com/ethereum/eth2.0-spec-tests.git
[submodule "ganache-cli"]
	path = ganache-cli
	url = https://github.com/trufflesuite/ganache-cli.git

[submodule "wittgenstein"]
	path = wittgenstein
	url = https://github.com/ConsenSys/wittgenstein.git
[submodule "jvm-libp2p"]
	path = jvm-libp2p
	url = https://github.com/libp2p/jvm-libp2p.git
	branch = feature/makesomenoise
